aiofiles==24.1.0
aiohappyeyeballs==2.6.1
aiohttp==3.14.3
aiosignal==1.3.2
alembic==1.15.2
asgiref==3.8.1
attrs==25.3.0
bcrypt==4.3.0
bidict==0.23.1
blinker==1.9.0
Brotli==1.2.0
cachelib==0.13.0
certifi==2025.4.26
cffi==1.17.1
charset-normalizer==3.4.1
click==8.1.8
ConfigArgParse==1.7
cryptography==50.0.0
dnspython==2.7.0
dotenv==0.9.9
email_validator==2.2.0
Flask==3.1.3
Flask-Bcrypt==1.0.1
Flask-Caching==2.3.1
Flask-Compress==1.17
flask-cors==6.0.0
Flask-Login==0.6.3
Flask-Migrate==4.1.0
Flask-Session==0.8.0
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.2
frozenlist==1.6.0
future==1.0.0
gevent==24.11.1
geventhttpclient==2.3.3
greenlet==3.2.1
gunicorn==23.0.0
h11==0.16.0
h2==4.4.1
hpack==4.2.0
Hypercorn==0.17.3
hyperframe==6.1.0
idna==3.15
iniconfig==2.1.0
itsdangerous==2.2.0
Jinja2==3.1.6
Mako==1.3.12
Markdown==3.8.1
MarkupSafe==3.0.2
migrate==0.3.8
msgpack==1.2.1
msgspec==0.19.0
multidict==6.4.3
packaging==25.0
platformdirs==4.3.7
pluggy==1.5.0
priority==2.0.0
propcache==0.3.1
psutil==7.0.0
pycparser==2.22
PyMySQL==1.1.1
pytest==9.0.3
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
python-engineio==4.13.2
python-socketio==5.16.2
pyzmq==26.4.0
Quart==0.20.0
redis==6.0.0
requests==2.33.0
setuptools==83.0.0
simple-websocket==1.1.0
six==1.17.0
SQLAlchemy==2.0.40
typing_extensions==4.15.0
urllib3==2.7.0
uvicorn==0.34.2
websocket-client==1.8.0
Werkzeug==3.1.6
wsproto==1.2.0
WTForms==3.2.1
yarl==1.20.0
zope.event==5.0
zope.interface==7.2
zstandard==0.23.0
md @ git+https://github.com/doarmario/mangadex.git@9e6a072fc71a8040ad1608253d6803c3f5c77162
